.vscode
bin
obj
cov
covhtml
*.gcda
*.gcno
*.info
*.out
dev/*.txt
perf*
.env
data/lexica/*
data/strategy/*
data/layouts/*
test/testdata/outerror
test/testdata/output
test/testdata/test_commands
oprofile_data
TODO
