name: ci
on: [push]
jobs:
  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run cppcheck static analysis
        run: |
          ./cppcheck.sh

  clang-tidy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run clang-tidy static analysis
        run: |
          sudo apt-get install -y clang-tidy-18 && ./tidy.sh

  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run python clang-format analysis script
        run: |
          sudo apt-get install -y clang-format-20 && python3 ./format.py

  circular-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install networkx

      - name: Check circular dependencies
        run: python3 find_circ_deps.py

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: latest
          platform: x64

      - name: Get datafile cache
        id: cache-datafiles
        uses: actions/cache@v3
        with:
          path: |
            data/*
            testdata/*
          # Increment this whenever the downloaded data changes
          key: downloaded-data-files-30

      - name: Download data files and convert lexica
        if: steps.cache-datafiles.outputs.cache-hit != 'true'
        run: ./download_data.sh && ./convert_lexica.sh

      - name: Display data files
        run: ls -l data/* testdata/*

      - name: Run unit tests
        run: ./run u && ./run u 21

  wasm-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - name: Set up Emscripten
        uses: mymindstorm/setup-emsdk@v14

      - name: Get datafile cache
        id: cache-datafiles
        uses: actions/cache@v3
        with:
          path: |
            data/*
            testdata/*
          key: downloaded-data-files-29

      - name: Download data files and convert lexica
        if: steps.cache-datafiles.outputs.cache-hit != 'true'
        run: ./download_data.sh && ./convert_lexica.sh

      - name: Build WASM tests
        run: make -f Makefile-wasm magpie_wasm_test

      - name: Run WASM tests
        run: node ./bin/magpie_wasm_test.js endgame_wasm tt zobrist
